<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macroflag.dp_cms.dao.UserDAO">
	<select id="findByUser" parameterType="com.macroflag.dp_cms.vo.User"
		resultType="com.macroflag.dp_cms.vo.User">
		select id,username from dp_user where username = #{username} and password = #{password}
	</select>
</mapper>